{% extends 'base.html' %} {% block content %}
<h1>Proud Achievements</h1>
<p><a href="{% url 'create_achievement' %}">Add Achievement</a></p>

{% if proudachievement_list|length is 0 %}
<p>You do not have any achievements yet.</p>
{% else %}
<table class="design">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Achievement</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for achievement in proudachievement_list %}
    <tr>
      <td>
        <a href="{% url 'edit_achievement' achievement.pk %}">
          {{ achievement.name }}
        </a>
      </td>
      <td>{{ achievement.achievement }}</td>
      <td>{{ achievement.date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %} {% endblock content %}
