{% extends 'base.html' %} {% block content %}
<div class="form_design">
  <form method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ workout.name }}"?</p>
    {{ form.as_p }}
    <div class="control">
      <button class="button_design">Delete</button>
    </div>
  </form>
  {% endblock content %}
</div>
