{% extends 'base.html' %} {% block content %}
<h1>{{ workout.name }}</h1>
<p><strong>{{ workout.date }}</strong></p>
{% if workout.description == None %} {% else %}
<p>{{ workout.description }}</p>
{% endif %}
<h2>Exercises</h2>
<p><a href="{% url 'create_exercise' %}">Add Exercise</a></p>
{% if workout.exercises.all|length > 0 %}
<table class="design">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Target Goal</th>
      <th>Accomplished</th>
    </tr>
  </thead>
  <tbody>
    {% for exercise in workout.exercises.all %}
    <tr>
      <td>
        <a href="{% url 'edit_exercise' exercise.pk %}">{{ exercise.name }}</a>
      </td>
      <td>{{ exercise.target }}</td>
      {% if exercise.accomplished|length == 0 %}
      <td><a href="{% url 'update_exercise' exercise.pk %}">Update</a></td>
      {% else %}
      <td>{{ exercise.accomplished }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>This workout has no exercises!</p>
{% endif %}
<nav class="navigation">
  <li class="nav_item">
    <a href="{% url 'edit_workout' workout.id %}">Edit Workout</a>
  </li>
  <li class="nav_item">
    <a href="{% url 'delete_workout' workout.id %}">Delete Workout</a>
  </li>
</nav>
{% endblock content %}
