{% extends 'base.html' %} {% block content %} {% load bootstrap4 %}
{%bootstrap_css %} {% bootstrap_javascript jquery='full' %} {{ form.media }}
<div class="form_design">
  <h1>Edit Workout</h1>
  <form method="POST">
    {% csrf_token %} {% bootstrap_form form %}
    <button class="button_design">Make Changes</button>
  </form>
</div>
{% endblock content %}
