{% extends 'base.html' %} {% block content %}
<h1>My Workouts</h1>
<p><a href="{% url 'create_workout' %}">Create New Workout</a></p>

{{ calendar }}

<div class="navigation">
  <a class="nav_item" href="{% url 'list_workouts' %}?{{ prev_month }}">
    Previous Month
  </a>
  <a class="nav_item" href="{% url 'list_workouts' %}?{{ next_month }}">
    Next Month
  </a>
</div>

{% if workout_list|length is 0 %}
<p>You do not have any workouts.</p>
{% else %}
<table class="design">
  <thead>
    <tr>
      <th>Workout</th>
      <th>Date</th>
      <th>Number of Exercises</th>
    </tr>
  </thead>
  <tbody>
    {% for workout in workout_list %}
    <tr>
      <td>
        <a href="{% url 'show_workout' workout.pk %}">{{ workout.name }}</a>
      </td>
      <td>{{ workout.date }}</td>
      <td>{{ workout.exercises.all|length }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %} {% endblock content %}
