{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <title>Workout Tracker</title>
  </head>
  <body>
    <header>
      <nav>
        <ul class="navigation">
          {% if user.is_authenticated %}
          <li class="nav_item">
            <a href="{% url 'list_workouts' %}">My Workouts</a>
          </li>
          <li class="nav_item">
            <a href="{% url 'list_achievements' %}">Proud Achievements</a>
          </li>
          <li class="nav_item"><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li class="nav_item"><a href="{% url 'login' %}">Login</a></li>
          <li class="nav_item"><a href="{% url 'signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      <div>{% block content %}{% endblock content %}</div>
    </main>
  </body>
</html>
