{% extends 'base.html' %} {% block content %}
<div class="form_design">
  <h1>Signup</h1>
  <form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button class="button_design">Signup</button>
  </form>
</div>
{% endblock content %}
