body {
  background: #f5f5f5;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_item {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 10px;
  text-align: center;
  color: #364f6b;
  margin: 1em;
}

a:hover {
  color: #3fc1c9;
}

a:visited {
  color: #fc5185;
}

h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 25px;
  color: #364f6b;
}

h2 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  color: #364f6b;
}

table.design {
  border: 5px double #3fc1c9;
  border-collapse: collapse;
  max-width: 800px;
  min-width: 500px;
  margin: auto;
  background: white;
}

table.design > tbody > tr > td {
  border: 2px solid #3fc1c9;
  padding: 0.5em;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  color: #364f6b;
}

table.design > thead > tr > th,
table.design > tbody > tr > th {
  border: 2px solid #3fc1c9;
  padding: 0.5em;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 15px;
  color: #364f6b;
}

table > tbody > tr > td.workout-calendar-column {
  width: 120px;
  height: 100px;
  box-sizing: border-box;
  text-align: right;
  vertical-align: top;
  position: relative;
}

.cal_nav {
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  color: #3fc1c9;
}

.form_design {
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid #fc5185;
  padding: 24px;
  margin: auto;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  color: #364f6b;
  background: white;
}

.form_design > form {
  text-align: center;
}

.button_design {
  display: block;
  padding: 5px;
  background-color: #f5f5f5;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #fc5185;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 14px;
  color: #364f6b;
}

.award {
  width: 25px;
  position: absolute;
  bottom: 2px;
  left: 2px;
}
