{% extends 'base.html' %} {% block content %}
<div class="form_design">
  <h1>Edit Exercise</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button class="button_design">Make Changes</button>
    <input
      class="button_design"
      type="submit"
      name="confirm_delete"
      value="Delete"
    />
  </form>
</div>
{% endblock content %}
