{% extends 'base.html' %} {% block content %}
<div class="form_design">
  <h1>Update Accomplished</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button class="button_design">Update</button>
  </form>
</div>
{% endblock content %}
